{% extends "search_base.html" %}

{% block window %}
<h4 class="primary-text">2сс РЖЯ <span class="large-text secondary-text"><br class="s">&mdash; двусторонний словарь русского жестового языка</span></h2>
<p>Используйте поле сверху для поиска жеста.</p>
<p>
    Чтобы переключиться между поиском жеста по слову и поиском перевода по жесту, 
    нажмите на кнопку <strong class="rsl">5</strong>&#8288;/&#8288;<strong class="giant">Я</strong>.
</p>
<p>
    Для записи жестов используется система записи
    <em><a class="link" href="http://ajnoeo.github.io/rslfont" target="_blank" rel="noopener noreferrer">Шрифт РЖЯ</a></em>.
</p>
{% endblock window %}